*{
    margin: 0;
}

#root{
    margin: 0;
}

.playGround{
    display: flex;
    color: white;
}

.GameCard{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    margin: 0;
}

.userPfp{
    width: 100%;
    height: 100vh;
    margin: 0;
    filter: brightness(0.6);
}

.gameData{
    margin: 0;
    position: relative;
    bottom: 67%;
    text-align: center;
}

button{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border-color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(255, 255, 100);
}

button:hover{
    background-color: white;
    color: black;
}

.userName{
    font-size: 3rem;
    font-weight: bolder;
}

.userID{
    font-size: 1.2rem;
    font-weight: bold;
}

.text{
    font-size: 1.1rem;
    font-weight: 600;
}

.FollowerCount{
    font-size: 3.5em;
    font-weight: 700;
    color: rgb(255, 255, 100);
}

.fixedThings{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ScoreList{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    color: white;
}

.score{
    margin: 1.5rem;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.75rem;
}

.Wversus{
    background-color: white;
    color: black;
    width: 110px;
    height: 110px;
    position: fixed;
    border-radius: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40%;
    font-size: 30px;
    font-weight: bold;
}

.Gversus{
    background-color: rgb(0, 255, 0);
    color: black;
    width: 110px;
    height: 110px;
    position: fixed;
    border-radius: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40%;
    font-size: 30px;
    font-weight: bold;
}

.Rversus{
    background-color: red;
    color: black;
    width: 110px;
    height: 110px;
    position: fixed;
    border-radius: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40%;
    font-size: 30px;
    font-weight: bold;
}

.rightdetails{
    position: absolute;
    width: 100%;
    text-align: center;
    display: none;
}